*{
    color: rgb(55, 94, 16);
    /* width: min(90%);
    max-width: 100%; */
}


body{
    background-color: salmon;
    height: 1700px;
}

header{
    text-align: right;
    padding: 20px;
    background-color: greenyellow;
    border-style: dotted;
    border-color: rgb(55, 94, 16);
    border-width: 6px;
}

  
.salmon{
    text-align: left;
}
nav > a {
    text-decoration: none;
    
    padding-left: 20px;
    padding-right:20px;
 
}
.top {
    text-align: center;
}
.bottom{
    text-align: center;
}

.cookies{
    position: relative;
    left: 30px;
    width: 400px;
    height: 600px;
    top: 270px;
}
.row{
    position: absolute;
    left:  549px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 270px;

    
}
.row > img {
    padding-bottom: 20px;
    width: 300px;
    
    
}
nav ul li{
    display: inline;
}
.paragraphs{
    width: 500px;
    height: 800px;
    font-size: 28px;
}

#allImage{
 height: 75%;
 display: flex;
flex-direction: column;
flex-wrap: wrap;
 padding: 10px;
 margin: 10px;
}
 #home{
     position: absolute;
     font-size: 100px;
 }
.table{
    padding-left:150px;
    padding-bottom: 30px;
}
.bag{
    padding-right: 300px;

}
.SP > img {
    text-decoration: none;
    
    padding-left: 20px;
    padding-right:20px;

}

footer > a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    
}

footer{
    text-align: center;
    padding: 20px;
    background-color: greenyellow;
    border-style: dotted;
    border-color: rgb(55, 94, 16);
    border-width: 6px;
}
